In [11]:
import pandas as pd
import numpy as np

In [2]:
anil = pd.read_csv('order.csv')
anil

   MONTH  ORDER  SALES  EXPENSE  INCOME
0      1     10  10000     7000    3000
1      2     21  25000     8000   17000
2      3     31  45000    16000   29000
3      4     50  60000    40000   20000
4      5     11  15000     3000   12000
5      6     24  28000    12000   16000
6      7     31  40000    13000   27000
7      8     35  65000    25000   40000
8      9     38  50000    35000   15000
9     10     29  40000    30000   10000

In [16]:
anil.describe()

           ORDER         SALES       EXPENSE        INCOME
count  10.000000     10.000000     10.000000     10.000000
mean   28.000000  37800.000000  18900.000000  18900.000000
std    12.156388  18244.024897  12775.410409  10650.508595
min    10.000000  10000.000000   3000.000000   3000.000000
25%    21.750000  25750.000000   9000.000000  12750.000000
50%    30.000000  40000.000000  14500.000000  16500.000000
75%    34.000000  48750.000000  28750.000000  25250.000000
max    50.000000  65000.000000  40000.000000  40000.000000

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
from sklearn.neural_network import MLPRegressor

In [27]:
from sklearn.ensemble import RandomForestRegressor

In [28]:
from sklearn.model_selection import train_test_split

In [33]:
modelLR = LinearRegression()
modelNN = MLPRegressor()
modelRF = RandomForestRegressor()

In [38]:
anil.head()

   ORDER  SALES  EXPENSE  INCOME
0     10  10000     7000    3000
1     21  25000     8000   17000
2     31  45000    16000   29000
3     50  60000    40000   20000
4     11  15000     3000   12000

In [79]:
anil.head()

   ORDER  SALES  EXPENSE  INCOME
0     10  10000     7000    3000
1     21  25000     8000   17000
2     31  45000    16000   29000
3     50  60000    40000   20000
4     11  15000     3000   12000

In [107]:
#Train test split
x = anil.iloc[:,0:3]
y = anil.iloc[:,3:4]

In [114]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size =0.2,random_state =1)

In [115]:
xtest

   ORDER  SALES  EXPENSE
2     31  45000    16000
9     29  40000    30000

In [116]:
ytest

   INCOME
2   29000
9   10000

In [117]:
#Train models

In [118]:
modelLR.fit(xtrain,ytrain)
modelNN.fit(xtrain,ytrain)
modelRF.fit(xtrain,ytrain)

C:\Users\User\AppData\Roaming\Python\Python311\site-packages\sklearn\neural_network\_multilayer_perceptron.py:1625: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\User\AppData\Roaming\Python\Python311\site-packages\sklearn\neural_network\_multilayer_perceptron.py:691: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\User\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor()

In [119]:
print(modelLR.score(xtrain,ytrain))
print(modelNN.score(xtrain,ytrain))
print(modelRF.score(xtrain,ytrain))

1.0
0.916467662620081
0.8392757593805837

In [120]:
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

In [121]:
LRpred = modelLR.predict(xtest)
NNpred = modelNN.predict(xtest)
RFpred = modelRF.predict(xtest)

In [122]:
print(mean_squared_error(LRpred,ytest))
print(mean_squared_error(NNpred,ytest))
print(mean_squared_error(RFpred,ytest))

2.117582368135751e-22
14586886.174388262
89518600.0

In [ ]:
#Thankyou